.signup-form {
    text-align: center;
}

.signup-form-header {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 50px;
}

.signup-form-label {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
}

.signup-form-input {
    border: 1px solid gray;
    background-color: #fafafa;
    height: 30px;
    width: 40%;
    border-radius: 20px;
    margin: auto;
    padding-left: 10px;
}

.signup-form-input:hover {
    background-color: rgb(216, 216, 216)
}

.signup-form-group {
    padding-top: 15px;
}

.signup-form-button-container {
    margin-top: 30px;
}

.signup-form-button {
    border: 1px solid gray;
    /* background-color: #fafafa; */
    background-color: #382110;
    color: white;
    height: 30px;
    width: 40%;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.disabled-submit {
    border: 1px solid gray;
    /* background-color: #fafafa; */
    background-color: gray;
    color: white;
    height: 30px;
    width: 40%;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.signup-form-button:hover {
    background-color: #382110d1;
    color: white;
}