.signup-form {
    text-align: center;
}

.signup-form-header {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 50px;
}

.signup-form-label {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
}

.signup-form-input {
    border: 1px solid gray;
    background-color: #fafafa;
    height: 30px;
    width: 40%;
    border-radius: 20px;
    margin: auto;
    padding-left: 10px;
}

.signup-form-input:hover {
    background-color: rgb(216, 216, 216)
}

.signup-form-group {
    padding-top: 15px;
}

.signup-form-button-container {
    margin-top: 30px;
}

.signup-form-button {
    border: 1px solid gray;
    /* background-color: #fafafa; */
    background-color: #382110;
    color: white;
    height: 30px;
    width: 40%;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.disabled-submit {
    border: 1px solid gray;
    /* background-color: #fafafa; */
    background-color: gray;
    color: white;
    height: 30px;
    width: 40%;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.signup-form-button:hover {
    background-color: #382110d1;
    color: white;
}

.homepage-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
}

.homepage-column-container {
    flex: 1 1 auto;
}

#column-one {
    width: 100px;
}

#column-two {
    width: 400px;
}

#column-three {
    width: 150px;
    margin-left: 20px;
}

.homepage-bookshelf {
    width: 200px;
    height: 300px
}

.homepage-bookshelf-header {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.1px;
    color: rgb(51, 51, 51);
}

.homepage-bookshelf-para {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: rgb(0, 0, 0);
    margin-left: 10px;
}

.homepage-bookshelf-image {
    width: 95px;
    height: 150px;
    object-fit: contain;
}

#homepage-bookshelf-book-title {
    font-family: 'Merriweather', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    color: black;
    margin-left: 10px;
    margin-right: 20px;
}

#homepage-bookshelf-book-author {
    font-family: 'Merriweather', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    color: black;
    margin-left: 10px;
}

.homepage-rec-container {
    display: flex;
    margin-bottom: 30px;
    height: 180px;
    overflow: hidden;
}

.homepage-rec-image {
    width: 115px;
    height: 180px;
    object-fit: cover;
}

.homepage-bookshelf-header-rec {
    /* font-family: 'Libre Baskerville', sans-serif; */
    font-family: 'Merriweather', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(51, 51, 51);

}

.homepage-rec-para {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: rgb(0, 0, 0);
    margin-left: 10px;
    margin-right: 45px;
}

#homepage-rec-book-title {
    font-family: 'Merriweather', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    color: rgb(51, 51, 51);
    margin-left: 10px;
    margin-right: 45px;
    margin-top: 0;

}