#modal-background {
    background-color: transparent;
}

.edit-bookshelf-page {
    display: flex;
    flex-direction: column;
    background-color: #F3EFE7;
    max-width: 500px;
    max-height: 450px;
    border: 1px #f0e6d2 solid;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 90px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

/* .edit-server-modal {
    display: flex;
    flex-direction: column;
    background-color: #25262b;
    max-width: 400px;
    max-height: 300px;
    border: 1px black solid;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 90px;
    border-radius: 10px;
} */

.edit-bookshelf-header {
    /* font-family: 'PixelPal'; */
    color: rgb(30, 25, 21);
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Libre Baskerville", serif;
}

.edit-bookshelf-form-group {
    display: flex;
    flex-direction: column;
}


.edit-bookshelf-form-input {
    margin-bottom: 0px;
    border-radius: 5px;
    padding-top: 0;
    padding-left: 0;
    border: 1px solid lightgray;
}

.edit-bookshelf-form-label {
    font-family: "Lato", serif;
    color: rgb(30, 25, 21);
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.edit-bookshelf-form-button {
    font-family: "Lato", serif;
    height: 40px;
    width: 100%;
    background-color: #382110;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 20px;
    color: whitesmoke;
    font-weight: bolder;
    cursor: pointer;
}

.edit-bookshelf-form-button:hover {
    background-color: #5d4435;
}

.disabled-btn {
    background-color: gray;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.edit-bookshelf-error {
    color: red;
    font-family: 'Lato', serif;
}

#name,
#server_picture {
    height: 20px;
    /* width: 100%; */
    margin-top: 5px;
}

.cancel-button {
    font-family: 'Lato', serif;
    cursor: pointer;
}

.cancel-button:hover {
    font-weight: bolder;
}