.book-info-container {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 30px;
}

.book-info-wrapper {
    position: sticky;
    top: 20px;
}

.book-info-img-container img {

    width: 215px;
    height: 323px;
    object-fit: cover;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

#book-details-title {
    font-family: 'Libre Baskerville', serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    color: rgb(30, 25, 21);
    margin-top: 0;
    margin-bottom: 0;
}

#book-details-author {
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: rgb(30, 25, 21);
}

#book-details-summary {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.92px;
    color: rgb(30, 25, 21);
    margin-right: 80px;
    margin-bottom: 0;
}

#book-details-reviews {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: rgb(112, 112, 112);
    padding-right: 10px;
}

#book-details-ratings {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: rgb(112, 112, 112);
    padding-left: 10px;
    padding-right: 10px;
}

.book-details-reviews-container {
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

.rating-review-title {
    font-family: "Libre Baskerville", Georgia, serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 31px;
    color: rgb(30, 25, 21);
}

.rating-review-write {
    font-family: "Libre Baskerville", Georgia, serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 31px;
    color: rgb(30, 25, 21);
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.star-rating {
    margin-right: 40px;
}

.star-rating>button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.star-rating>button:hover {
    color: gray;
}

.review_spot_stars {
    padding-top: 1em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
}

.review-create-buttons {
    background-color: transparent;
    border: none;

}

.review-create-buttons>button {
    background-color: #382110;
    color: white;
    border: none;
    width: 150px;
    height: 40px;
    font-family: "Libre Baskerville", Georgia, serif;
    font-size: 14px;
    cursor: pointer;
    padding: 2px 10px 10px 10px;
}

.review-create-buttons>button:hover {
    background-color: #5d4435;
}


/* Dropdown Button */
.dropbtn {
    background-color: #382110;
    color: white;
    padding: 14px;
    font-size: 14px;
    border: none;
    border-radius: 0;
    width: 215px
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: "Lato", serif;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    padding: 12px 16px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #5d4435;
}

.hidden {
    display: none;
}