.banner-background-image {
    /* background-image: url("../../../static/book_background.jpg"); */
    background-image: url('https://s.gr-assets.com/assets/home/homepage_promos/reading_challenge_2023/HomepageMasthead_Desktop@2x.png');
    background-size: cover;
    width: 100vw;
    height: 295px;
}

/* 
.login-form-container {
    width: 50%;
} */

.login-form {
    text-align: center;
    position: absolute;
    top: 80px;
    right: 85px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    width: 350px;
    height: 400px;
    background: white;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.left-right-container {
    display: flex;
    justify-content: center;
    margin-right: 400px;
}

.homepage-left-container {
    /* float: left;
    margin-left: auto;
    margin-right: auto; */
    font-family: 'Roboto', sans-serif;
}

.homepage-right-container {
    /* float: left;
    margin-left: auto;
    margin-right: auto; */
    font-family: 'Roboto', sans-serif;
}

.list-card-wrapper {
    display: flex;
    justify-content: center;
}

.list-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f4f2e9;
    border-radius: 10px;
    width: 625px;
    height: 500px;
    padding: 15px;
}

#list-card-1 {
    display: flex;
    flex-direction: column;

    padding: 15px
}

.list-card-header {
    color: #000;
    font-size: 18px;
    margin: 0;
}

.list-card-para {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 18px;
    padding: 0;
}

.list-card-img-container {
    display: flex;
    justify-content: space-between;
    width: 400px;
    background-color: blue;
}

.list-card-img {
    width: 80px;
    height: 120px;
    padding: 0 10px;
}

#arrow {
    width: 21px;
    height: 28px;
}

.left-para-container {
    margin-right: 40px;
    float: left;
    margin: 0 10px 10px 30px;
    margin-right: 10px;
    width: 280px;
    font-size: 13px;
}

.right-para-container {
    float: left;
    margin: 0 10px 10px 55px;
    width: 300px;
    font-size: 13px;
}

.login-form-header {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#small-header {
    font-size: 20px;
}

.login-form-label {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.login-form-input {
    border: 1px solid gray;
    background-color: #fafafa;
    height: 30px;
    width: 100%;
    border-radius: 20px;
}

.login-form-input:hover {
    background-color: rgb(216, 216, 216)
}

.login-form-button {
    border: 1px solid gray;
    /* background-color: #fafafa; */
    background-color: #382110;
    color: white;
    height: 30px;
    width: 100%;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.login-form-button:hover {
    background-color: #382110d1;
    color: white;
}

#demo-user-button {
    margin-top: 10px
}

.login-form-footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-top: 20px;
}

.in-the-news-title {
    font-family: "Merriweather", sans-serif;
    font-size: 14px;
    width: 300px;

}

.in-the-news-article {
    font-family: "Lato", serif;
    font-size: 12px;
    width: 300px;
}

.homepage-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
}

.homepage-column-container {
    flex: 1 1 auto;
}

#column-one {
    width: 100px;
}

#column-two {
    width: 400px;
}

#column-three {
    width: 150px;
    margin-left: 20px;
}

.homepage-bookshelf-container {
    text-decoration: none;
}

.homepage-bookshelf {
    width: 200px;
    height: 300px
}

.homepage-bookshelf-header {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.1px;
    color: rgb(51, 51, 51);
}

.homepage-bookshelf-para {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: rgb(0, 0, 0);
    margin-left: 10px;
}

.homepage-bookshelf-image {
    width: 95px;
    height: 150px;
    object-fit: contain;
}

#homepage-bookshelf-book-title {
    font-family: 'Merriweather', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    color: black;
    margin-left: 10px;
    margin-right: 20px;
}

#homepage-bookshelf-book-author {
    font-family: 'Merriweather', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    color: black;
    margin-left: 10px;
}

.homepage-rec-container {
    display: flex;
    margin-bottom: 30px;
    height: 180px;
    overflow: hidden;
}

.homepage-rec-image {
    width: 115px;
    height: 180px;
    object-fit: cover;
}

.homepage-bookshelf-header-rec {
    /* font-family: 'Libre Baskerville', sans-serif; */
    font-family: 'Merriweather', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(51, 51, 51);

}

.homepage-rec-para {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: rgb(0, 0, 0);
    margin-left: 10px;
    margin-right: 45px;
}

#homepage-rec-book-title {
    font-family: 'Merriweather', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    color: rgb(51, 51, 51);
    margin-left: 10px;
    margin-right: 45px;
    margin-top: 0;

}