.banner-background-image {
    /* background-image: url("../../../static/book_background.jpg"); */
    background-image: url('https://s.gr-assets.com/assets/home/homepage_promos/reading_challenge_2023/HomepageMasthead_Desktop@2x.png');
    background-size: cover;
    width: 100vw;
    height: 295px;
}

.login-form-container {
    width: 50%;
}

.login-form {
    text-align: center;
    position: fixed;
    z-index: 1;
    width: 350px;
    right: 0;
    background: white;
    border-radius: 10px;
    margin-left: 0px;
    padding-left: 15px;
    padding-right: 15px;
    height: 400px;
    margin-right: 35px;
    top: 80px;
    border: 1px solid #d8d8d8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.homepage-left-container {
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-bottom: 10px;
    width: 65%;
    font-family: 'Roboto', sans-serif;
}

.left-para-container {
    margin-right: 40px;
    float: left;
    margin: 0 10px 10px 30px;
    margin-right: 10px;
    width: 280px;
    font-size: 13px;
}

.right-para-container {
    float: left;
    margin: 0 10px 10px 55px;
    width: 300px;
    font-size: 13px;
}

.login-form-header {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#small-header {
    font-size: 20px;
}

.login-form-label {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.login-form-input {
    border: 1px solid gray;
    background-color: #fafafa;
    height: 30px;
    width: 100%;
    border-radius: 20px;
}

.login-form-input:hover {
    background-color: rgb(216, 216, 216)
}

.login-form-button {
    border: 1px solid gray;
    /* background-color: #fafafa; */
    background-color: #382110;
    color: white;
    height: 30px;
    width: 100%;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.login-form-button:hover {
    background-color: #382110d1;
    color: white;
}

#demo-user-button {
    margin-top: 10px
}

.login-form-footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-top: 20px;
}

.in-the-news-title {
    font-family: "Merriweather", sans-serif;
    font-size: 14px;
    width: 300px;

}

.in-the-news-article {
    font-family: "Lato", serif;
    font-size: 12px;
    width: 300px;
}