.bookshelf-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 960px;
    border-bottom: 1px solid #EBE8D5;
    margin: auto;
    color: #00635d;
    margin-bottom: 10px;
}

.bookshelf-nav-title {
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    font-weight: bolder;
    font-size: 20px
}

.bookshelf-settings-ul {
    display: flex;
    list-style: none;
}

.bookshelf-settings-ul>li {
    padding-right: 10px;
}

.my-book-table {
    width: 100%;
    padding-left: 40px;
}

.bookshelf-details-container {
    display: flex;
    width: 960px;
    margin: auto;
}

.bookshelf-book-details-container {
    width: 500px;
}

.bookshelf-links {
    font-family: 'Lato', serif;
    text-decoration: none;
    color: rgb(30, 25, 21);
}

.bookshelf-links:hover {
    font-weight: bolder;
    color: #5d4435;
}

.book-table-headers {
    display: flex;
    flex-direction: row;
    font-family: 'Libre Baskerville', serif;
}

#header-1 {
    width: 10%;
}

#header-2 {
    width: 45%;
    margin-right: 25px
}

#header-3 {
    width: 25%;
}

#header-4 {
    width: 15%;
    text-align: center;
}

#header-5 {
    width: 5%
}

#book-table {
    color: rgb(30, 25, 21);
    font-family: 'Lato', serif;
}

.button-trash-book-table {
    height: 30px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: transparent;
    border: none;
}

.button-trash-book-table:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
    color: #5d4435;
    cursor: pointer;
}

.gear-shift-icon button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.gear-shift-icon button:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
    color: #5d4435;
}

.add-button {
    background-color: #382110;
    border: none;
    color: white;
    padding: 8px;
    width: 100%;
    margin-top: 10px;
}

.add-button:hover {
    background-color: #5d4435;
}


.disabled-add-btn {
    background-color: gray;
    border: none;
    color: white;
    padding: 8px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}