.bookshelf-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 960px;
    border-bottom: 1px solid #EBE8D5;
    margin: auto;
    color: #00635d;
    margin-bottom: 10px;
}

.bookshelf-nav-title {
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    font-weight: bolder;
    font-size: 20px
}

.bookshelf-settings-ul {
    display: flex;
    list-style: none;
}

.bookshelf-settings-ul>li {
    padding-right: 10px;
}

/* .test {
    border: 1px solid blue;
} */

.test2 {
    width: 100%;
    padding-left: 40px;
}

.bookshelf-details-container {
    /* display: flex;
    justify-content: space-around; */

    display: flex;
    /* align-items: center; */
    width: 960px;
    margin: auto;
}

.bookshelf-book-details-container {
    border: 1px solid blue;
    width: 500px;
}

.bookshelf-links {
    font-family: 'Lato', serif;
    text-decoration: none;
    color: rgb(30, 25, 21);
}

.bookshelf-links:hover {
    font-weight: bolder;
    color: #5d4435;
}

.book-table-headers {
    display: flex;
    flex-direction: row;
    font-family: 'Libre Baskerville', serif;
}

#header-1 {
    width: 10%;
}

#header-2 {
    width: 45%;
    margin-right: 25px
}

#header-3 {
    width: 30%;
}

#header-4 {
    width: 15%;
}

#book-table {
    color: rgb(30, 25, 21);
    font-family: 'Lato', serif;
}