#book-details-reviews-large {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    color: rgb(112, 112, 112);
    padding-right: 10px;
}

#book-details-ratings-large {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    color: rgb(112, 112, 112);
    padding-left: 45px;
}

.review-container {
    margin-left: 20px;
    margin-bottom: 40px;
}

/* .review-user-date-container {
    display: flex;
    justify-content: space-between;
} */

.review-review {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    color: rgb(30, 25, 21);
    margin-right: 40px;
}

.review-review-date {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    color: gray;
}

.review-username {
    font-family: "Libre Baskerville", Georgia, serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: rgb(30, 25, 21);
    margin-top: 5px;
}