#book-details-reviews-large {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    color: rgb(112, 112, 112);
    padding-right: 10px;
}

#book-details-ratings-large {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    color: rgb(112, 112, 112);
    padding-left: 45px;
}

.review-container {
    margin-left: 20px;
    margin-bottom: 40px;
}

/* .review-user-date-container {
    display: flex;
    justify-content: space-between;
} */

.review-review {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    color: rgb(30, 25, 21);
    margin-right: 40px;
}

.review-review-date {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    color: gray;
}

.review-username {
    font-family: "Libre Baskerville", Georgia, serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: rgb(30, 25, 21);
    margin-top: 5px;
}

.form-parent-container {
    display: flex;
    flex-direction: column;
    background-color: #F3EFE7;
    width: 500px;
    max-height: 450px;
    border: 1px #f0e6d2 solid;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 90px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.review-form-header {
    color: rgb(30, 25, 21);
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: "Libre Baskerville", serif;
}

textarea {
    font-family: 'Montserrat', serif;
}

.star-rating>button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.fill {
    color: rgb(30, 25, 21);

}

.no-fill {
    color: #ccc;
}

.form-parent-container {
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 20px;
    font-family: 'Manrope', sans-serif;
    padding: 0 20px;
}

.reviews-para {
    font-family: 'Montserrat', serif;
    text-align: center;
}

.review_spot_stars {

    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    ;
}

.review-edit-delete-buttons button {
    border: none;
    cursor: pointer;
    font-family: "Lato", serif;
    background-color: #382110;
    color: white;
    font-size: 12px;
    margin-right: 40px;
    height: 20px;
    width: 50px;
    border-radius: 3px;
    margin-top: 10px;
}