.hidden {
    display: none
}

.profile-dropdown {
    list-style: none;
}

body {
    margin: 0
}

.header-container {
    display: flex;
    list-style: none;
    background-color: #F3EFE7;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;

}

.header-title {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 20pt;
}

.nav-menu-content {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    width: 140%;
    padding-left: 0;
}

.nav-menu-content>* {
    text-decoration: none;
    color: black;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-menu-content>*:hover {
    background-color: #382110;
    color: white;
    text-decoration: none;
}

/* .nav-search-bar-container {
    display: inline-block;
    margin-bottom: 0px !important;
    margin-top: 9px;
    vertical-align: top;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    margin-right: 8px;
} */

.nav-search-bar {
    background: #FFFFFF;
    border-radius: 3px;
    border: #DCD6CC 1px solid;
    color: #333333;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    resize: horizontal;
    width: 200px;
    margin-left: 40px;
}

.icons-container {
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.profile-btn {
    width: 30px;
    height: 30px;
    border-radius: 16px;
    border: 1px solid #D8D8D8;
}